.navbar {
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  ul{
    display:flex;
    align-items:center;
    list-style:none;
    padding-left:0;
    li{
      margin-right: 1rem;
      margin-bottom: 0;
      a{
        color: var(--button-text-color);
      }
      a:hover{
        color: var(--link-hover-color);
      }
    }
  }
  button{
    margin-bottom:0;
  }
}
@media screen and (max-width: var(--tablet)) {
  .navbar {
    padding: 1rem 1.5rem;
  }
}
@media screen and (max-width: var(--mobile)) {
  .navbar {
    padding: 1rem;
  }
}